/**
 * Colors: Editor.
 */

$black: #000;
$white: #fff;
$gray:  #e5e5e5;
$pink:  #ffd4d9;


$placeholder-bg:       $gray;

$instructions-border:  darken( $gray, 20% );

$form-submit-bg:       darken( $pink, 50% );
$form-submit-bg-hover: darken( $pink, 60% );

$note-color:           $black;
$note-link:            #5a4146;
$note-warning-bg:      $pink;
$note-info-bg:         $gray;
