/**
 * Form on the settings page.
 */

.besan-form {
  p {
    margin: 2rem 0;
  }

  label {
    display: inline-block;
    font-weight: bold;
    width: 10rem;
  }

  input[type=text] {
    padding: 0.5rem;
    width: 30rem;
  }
}
