/**
 * Instructions on settings page.
 */

.besan-instructions {
  border: 1px solid $instructions-border;
  margin: 1.5rem 0;
  padding: 1rem;
}

.besan-updated.updated {
  margin-top: 1rem !important;
  padding: 0.75rem;
}
