/**
 * Instructions on settings page.
 */

.besan-instructions {
  background-color: $instructions-bg;
  border: 1px solid $instructions-border;
  margin: 1.5rem 0;
  padding: 0.5rem 2rem;

  p, li {
    font-size: 0.85rem;
    line-height: 1.6;
  }

  // Nested lists.
  ol ol {
    margin-block-start: 0.5rem;
    list-style-type: lower-alpha;
  }
}
