/**
 * In-editor notice.
 */

.besan-notice {
  background-color: $notice-bg;
  color: $notice-color;
  padding: 0.75rem;

  a {
    color: $notice-link;

    &:hover, &:focus {
      color: darken( $notice-link, 20% );
    }
  }
}
